include README
include LICENSE
include NEWS
include BUGS
include blaplay.desktop
include visualizations/*.pyx
recursive-include blaplay/images *.svg *.png *.theme
exclude blaplay/visualizations/*.so

