[Desktop Entry]
Name=blaplay
_GenericName=Music Player
_Comment=Listen to and organize your music collection
Exec=blaplay
Terminal=false
Type=Application
Icon=blaplay
Categories=GNOME;Audio;Music;Player;GTK;

